html, body{
    width: 100%;
    height: 100%;
    background-color: #222;
}
/*stage -- start*/
.stage{
    position: relative;
    width: 100%;
    height: 100%;
}
/*stage -- end*/

/*image -- start*/
.img-sec{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;/*隐藏超出的图片*/
    background-color: #dddddd;
}
.img-figure{
    position: absolute;/*绝对定位*/
    width: 240px;
    height: 300px;
    padding: 20px;
    margin: 0px;
    background-color: white;
    cursor: pointer;/*手形*/

    transform-origin: 0 50% 0;
    transform-style: preserve-3d;
    transition: transform 0.8s, left 0.8s, top 0.8s;
}
.img-title{
    text-align: center;
    color: #a7a0a2;
}
.img-back{
    position: absolute;
    top: 0px;
    left: 0px;
    wedth: 240px;
    height: 300px;
    padding: 20px;
    transform: rotateY(180deg) translateZ(1px);
    background-color: white;
    overflow: auto;
}
.is-inverse{
    -webkit-transform: translate(280px) rotateY(180deg);
}
/*image -- end*/