
@font-face
{
    font-family: "turn-arrow";
    src:
    /*url('./font/turn-arrow.eot'),*/
    /*url('./font/turn-arrow.png'),*/
    /*url('./font/turn-arrow.svg'),*/
    /*url('./font/turn-arrow.ttf'),*/
    url("./font/turn-arrow.woff") format("woff");
}
html, body{
    width: 100%;
    height: 100%;
    background-color: #222;
}
/*stage -- start*/
.stage{
    position: relative;
    width: 100%;
    height: 100%;
}
/*stage -- end*/

/*image -- start*/
.img-sec{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;/*隐藏超出的图片*/
    background-color: #dddddd;
}
.img-figure{
    position: absolute;/*绝对定位*/
    width: 240px;
    height: 300px;
    padding: 20px;
    margin: 0px;
    background-color: white;
    cursor: pointer;/*手形*/

    transform-origin: 0 50% 0;
    transform-style: preserve-3d;
    transition: transform 0.8s, left 0.8s, top 0.8s;
}
.img-title{
    text-align: center;
    color: #a7a0a2;
}
.img-back{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 240px;
    height: 300px;
    padding: 20px;
    transform: rotateY(180deg) translateZ(1px);
    background-color: white;
    overflow: auto;
}
.is-inverse{
    -webkit-transform: translate(280px) rotateY(180deg);
}
.center-rotate{
    -webkit-transform: rotate(0deg);
}
/*image -- end*/

/*controller-nav*/
.controller-nav{
    position: absolute;
    left: 0;
    bottom: 40px;
    width: 100%;
    z-index: 101;
    text-align: center;
}
.control{
    display: inline-block;
    margin: 6px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transform: scale(0.5);
    background-color: #7f7f7f;
    vertical-align:middle
}
.is-center{
    background-color: #888;
    transform: scale(1);
}
.is-center::after{
    color: #fff;
    font-family: "turn-arrow", serif;
    content: "\e600";
    vertical-align:middle;
}
.is-inverse-control{
    /*background-color: #888;*/
    transform: rotateY(180deg);
}